/* reset */
html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}
ul, ol{
	list-style:none;
	margin:0;
	padding:0;
}
th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }
/* style */
body{
	background: url(img/bg1.jpg) left top repeat;
	width:960px;
	margin:auto;
	font-family:Arial;
}
h1, nav, nav li, .block label, .block input, .block button{
	display:inline-block;
}
h1{
	font-size:33px;
	font-family:Verdana;
	text-shadow: 1px 1px white, -1px -1px #444444;
	color:grey;
	text-align:center;
	font-style:italic;
}
p:first-letter{
	text-transform:uppercase;
}
nav{
	margin-left:140px;
}
nav a{
	font-size:17px;
	color:#464646;
	text-decoration:none;
}
nav a:hover, nav a:visited{
	color:#88E0DF;
}
nav li:after{
	content: "|";
	padding:0 15px;
	color:#D4D4D4;
}
nav li:last-child:after{
	content: ""
}
.about{
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
}
.about img{
	height:330px;
}
.about > section {
	background:#88E0DF;
	position:absolute;
	left:0;
	top:0;
	width:250px;
	height:280px;
	padding:25px;
	color:#fff;
}
.about h2{
	font-size:33px;
	font-weight:bold;
}
.about p{
	font-size:17px;
	line-height: 20px;
}
.block{
	width: 200px;
	height:240px;
	display:inline-block;
	margin:0 17px;
	background:#fff;
	vertical-align:top;
	padding:10px;
	border-radius:3px;
}
.block:last-of-type{
	margin:0;
}
.block h2{
	color:#595959;
	font-style:italic;
	letter-spacing:-1px;
	font-size:27px;
	text-align:center;
}
.block a{
	text-decoration:none;
	line-height:20px;
	font-size:15px;
	color:#000;	
}
.block a:hover{
	color:#72CFCE;
}
.block a:before{
	content: ">";
	background:#88E0DF;
	color:#fff;
	font-size:9px;
	padding:0px 3px;
	margin:0 4px;
	vertical-align:top;
}

.block label{
	font-size:13px;
	padding-right:7px;
	width:70px;
}
.block input, .block textarea{
	background:#fff;
	border:1px solid #D4D4D4;
	width:100px;
	font-size:11px;
	height:18px;
	padding:0 10px;
}
.block textarea{
	height:68px;
	width:200px;
	padding:0;
}
.block button{
	background:#72CFCE;
    border-radius: 5px;
	height:30px;
	padding:0 20px;
	border:none;
	margin:auto;
	cursor:pointer;
}
footer{
	background:#3E3E3E;
	margin-top:40px;
	padding:40px 0;
}
footer a{
	color:#fff;
}
small{
	display:block;
	text-align:right;
	font-size:11px;
	color:#D4D4D4;
	margin-right:40px;
}








	
